/* OUTTER LIST */
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5vh;
  overflow-y: scroll;
  width: 100%;
}
@media (max-width: 1000px) {
  .ul {
    overflow-y: unset;
  }
}
