.crud {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pRemove {
  border-bottom: #1c2321 solid 1px;
}
.qty {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.icon {
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 700;
}
.pRemove:hover {
  border-bottom: tomato solid 1px;
  color: tomato;
  cursor: pointer;
}
@media (min-width: 600px) {
  .qty {
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
  }
}

@media (min-width: 900px) {
  .qty {
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
  }

  .pRemove {
    border-bottom: #1c2321 solid 1px;
    margin-right: 8.5vw;
    font-size: 1.3em;
  }
}
