.txtBox {
  width: 100%;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../assets/asfalt-dark.png");
}

.txt,
.txt2 {
  font-size: 8em;
  color: #1c2321;
}
.txt2 {
  color: tomato;
}

@media (max-width: 1000px) {
  .txt,
  .txt2 {
    font-size: 5em;
  }
  .txtBox {
    height: 100vh;
  }
}
