/* ORDERS COLUMN */

.orders {
  height: 100%;
  width: fit-content;
  min-width: 30%;
  border-right: solid #7d98a1 1px;
  padding: 0 2em;
  overflow-y: scroll;
}
.pOrder {
  height: 5vh;
  display: flex;
  color: #1c2321;
  align-items: center;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
@media (max-width: 1000px) {
  .orders {
    width: 100%;
    order: 2;
  }
  .pOrder {
    font-weight: 500;
    font-size: 1.5em;
  }
}
